<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js"
      lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tarefas</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="icons/foundation-icons.css" />
        <script src="js/vendor/modernizr.js"></script>
    </h:head>
    <h:body>
        <nav class="top-bar" data-topbar="1" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Cadastro de Tarefas</a></h1>
                </li>
            </ul>
        </nav>
        <div class="icon-bar vertical five-up medium-3 columns ">
            <a class="item" title="Adicina uma nova tarefa" accesskey="n" data-reveal-id="cadTarefas">
                <img src="icons/svgs/fi-plus.svg" ></img>
                <label>Nova tarefa</label>
            </a>
        </div>
        <h:form>
            <div class="panel">
                <div class="row">
                    <div class="medium-9 columns">
                        <table>
                            <thead>
                                <tr>
                                    <td class="medium-1">Código</td>
                                    <td class="medium-7">Descrição</td>
                                    <td class="medium-1">Ações</td>
                                </tr>
                            </thead>
                            <tbody>
<!--                                <c:forEach>
                                    
                                </c:forEach>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="cadTarefas" class="reveal-modal" data-reveal="1">
                <h3>Cadastro de tarefas</h3>        
                <div class="form-group">
                    <label for="codigo">Código</label>
                    <h:inputText id="codigo" styleClass="form-control">
                        <f:attribute name="placeholder" value="Código" />
                    </h:inputText>
                </div>
                <div class="form-group">
                    <label for="descricao">Descição</label>
                    <h:inputText id="descricao" styleClass="form-control">
                        <f:attribute name="placeholder" value="Descrição" />
                    </h:inputText>
                </div>
                <ul class="button-group">
                    <li><a href="#" class="close-reveal-modal">X</a></li>
                    <li><h:commandLink value="Salvar" styleClass="button"/></li>
                </ul>
            </div>
            <!--<a title="Adicina uma nova tarefa" accesskey="n" href="#" data-reveal-id="cadTarefas" class="button"><span class="fi-plus"></span> Nova tarefa</a>-->
        </h:form>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
    </h:body>
</html>

